* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  height: 100vh;
}

span {
  font-family: 'Yaldevi', sans-serif;
}

figcaption {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

h1 {
  font-family: 'Yaldevi', sans-serif;
  font-weight: 700;
}

header {
  position: -webkit-sticky;
  position: sticky;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background-color: black;
}

header .logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 4rem;
  margin: 8px;
}

header .card_name {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 8px;
  padding: 6px;
  border: solid 2px white;
  border-radius: 6px;
}

header .card_name:hover {
  -webkit-transition: 1s;
  transition: 1s;
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

header .card_name .name {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: white;
  font-size: 24px;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

main .titre {
  text-align: center;
  margin-bottom: 1rem;
  margin-top: 2rem;
}

main .card_info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 5%;
  padding: .2rem;
  margin-bottom: 3rem;
}

main .card_info .card_prez {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

main .card_info .card_prez img {
  margin-right: 1rem;
  max-width: 4rem;
}

main .card_info .card_prez span {
  max-width: 70%;
}

main .card_info .mail_card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

main .card_info .mail_card img {
  margin: .2rem;
  max-width: 4rem;
}

main .card_info .mail_card span {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: .5rem;
}

main .card_comp {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin: 5%;
  padding: .2rem;
  margin-bottom: 2.5rem;
  display: flex;
  overflow-x: auto;
}

main .card_comp .card_dual {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-left: 2rem;
  padding: .5rem;
}

main .card_comp .card_dual span {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 26px;
}

main .card_comp .card_dual img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 4rem;
  margin-left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

main .card_comp .first_card_dual {
  margin-left: 0;
}

main .proj_cards {
  margin: 5%;
  margin-bottom: 2rem;
}

main .proj_cards .project_card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: black;
  margin-bottom: 2rem;
}

main .proj_cards .project_card figure {
  border: solid 4px #ff5d00;
}

main .proj_cards .project_card figure .car_card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  overflow-x: auto;
}

main .proj_cards .project_card figure figcaption {
  background-color: black;
  color: white;
  padding: 4px;
}

footer {
  background-color: black;
}

footer .contact_card {
  padding: 5%;
}

footer .contact_card .contact {
  text-align: center;
  margin-bottom: 1rem;
  color: white;
}

footer .contact_card textarea {
  width: 100%;
}

footer .contact_card .my_btn {
  margin-top: .5rem;
  font-size: large;
  padding: 5px;
}

footer .my_info {
  padding: 5%;
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

footer .my_info h1 {
  text-align: center;
  margin-bottom: 1rem;
}

footer .my_info .infos {
  border: solid 2px white;
  padding: 6px;
}

footer .my_info .infos p {
  margin-bottom: 1rem;
}

footer .my_info .infos a img {
  max-width: 3rem;
}

@media (min-width: 760px) {
  header .logo {
    max-width: 6rem;
    margin: 2%;
  }
  header .card_name {
    margin: 2%;
  }
  header .card_name .name {
    font-size: 32px;
  }
  main .titre {
    font-size: 3rem;
  }
  main .card_info .card_prez img {
    max-width: 6rem;
  }
  main .card_info .card_prez span {
    max-width: 100%;
    font-size: 26px;
  }
  main .card_info .mail_card img {
    max-width: 7rem;
  }
  main .card_info .mail_card span {
    font-size: 26px;
  }
  main .proj_cards .project_card figure figcaption {
    font-size: 24px;
    padding: 6px;
  }
  footer .contact_card textarea {
    font-size: 20px;
  }
  footer .my_info .infos {
    font-size: 18px;
  }
  footer .my_info .infos a img {
    max-width: 7rem;
  }
}

@media (min-width: 1000px) {
  header .logo {
    max-width: 8rem;
  }
  header .card_name .name {
    font-size: 42px;
  }
  main .titre {
    font-size: 3.5rem;
  }
  main .card_info .mail_card {
    display: none;
  }
  main .card_info .card_prez span {
    font-size: 1.8rem;
  }
  main .card_comp .card_dual:hover {
    -webkit-transition: 1s;
    transition: 1s;
    -webkit-transform: scale(1.05);
            transform: scale(1.05);
  }
  main .card_comp .card_dual span {
    font-size: 30px;
  }
  main .card_comp .card_dual img {
    max-width: 6rem;
  }
  main .proj_cards {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  main .proj_cards .project_card {
    margin-left: 4rem;
    margin-right: 4rem;
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
  }
  main .proj_cards .project_card:hover {
    -webkit-transition: 1s;
    transition: 1s;
    -webkit-transform: scale(1.05);
            transform: scale(1.05);
  }
  footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  footer .contact_card {
    max-width: 50%;
  }
  footer .my_info {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    max-width: 50%;
  }
  footer .my_info p {
    font-size: 22px;
    margin-bottom: 1rem;
  }
  footer .my_info a img {
    max-width: 10rem;
    margin: .2rem;
  }
}
/*# sourceMappingURL=style.css.map */