* {
    box-sizing: border-box;
}

body {
    background-color: rgb(200, 200, 200);
    max-height: 110%;
    margin: 0;
    padding: 0;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.infos img {
    position: relative;
}

.texte {
    font-size: 2rem;
}

.maildescrip {
    display: inline-block;
    position: relative;
}

.texteA {
    left: 65%;
    transform: translate(-65%, 0%);
    text-align: center;
}

.texteB {
    left: 35%;
    transform: translate(-35%, 0%);
    text-align: center;
}

.infos #desc {
    left: 23%;
    transform: translate(-23%, 0%);
}

.infos #mail {
    left: 65%;
    transform: translate(-65%, 0%);
}

@media screen and (min-width: 769px) {
    :root {
        font-size: 1.1rem;
    }
    .b-screen {
        display: block;
    }

    .s-screen {
        display: none;
    }
}

@media screen and (max-width: 768px) {
    :root {
        font-size: 15px;
    }
    .b-screen {
        display: none;
    }

    .s-screen {
        display: block;
    }
}