* {
    box-sizing: border-box;
}

body {
    font-family: 'Times New Roman', Times, sans-serif;
    min-height: 100vh;
    font-size: 17px;
    margin: 0;
    padding: 0;
}

html,
main {
    background-color: rgb(200, 200, 200);
}

header {
    position: relative;
    background-color: black;
    height: 7rem;
}

section {
    padding: 1rem;
    position: relative;
}

.logo,
.ghub,
.menub {
    position: absolute;
    top: 50%;
}

.logo {
    left: 5%;
    transform: translate(-5%, -50%);
    max-width: 4.5rem;
}

.ghub {
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 5rem;
}

.menub {
    right: 0;
    transform: translate(0, -50%);
    max-width: 5rem;
}

footer {
    bottom: 0;
    width: 100%;
    background-color: black;
    text-align: center;
    padding: .5rem;
    position: absolute;
}

footer>a,
footer>p {
    color: white;
    text-align: center;
}

.parcours,
.competences {
    display: none;
}

a:any-link {
    color: white;
}

.wrapper {
    display: grid;
    row-gap: 2rem;
    padding-top: 2rem;
    grid-column: auto;
}

.wrapper img {
    max-width: 3.5rem;
}

.case1,
.case3,
.case5,
.case7,
.case9 {
    margin-left: 1rem;
}

.case2,
.case4,
.case6,
.case8,
.case10 {
    margin-top: 1rem;
}

.c1i {
    margin-top: 1.4rem;
    margin-right: 1rem;
}

.case1 {
    grid-column: 1;
    grid-row: 1;
}

.case2 {
    grid-column: 2;
    grid-row: 1;
}

.case3 {
    grid-column: 1;
    grid-row: 2;
}

.case4 {
    grid-column: 2;
    grid-row: 2;
}

.case5 {
    grid-column: 1;
    grid-row: 3;
}

.case6 {
    grid-column: 2;
    grid-row: 3;
}

.case7 {
    grid-column: 1;
    grid-row: 4;
}

.case8 {
    grid-column: 2;
    grid-row: 4;
}

.case9 {
    grid-column: 1;
    grid-row: 5;
}

.case10 {
    grid-column: 2;
    grid-row: 5;
}

.proj {
    max-width: 90%;
    margin-left: 5%;
    margin-top: 20%;

}

.diapo {
    position: relative;
    overflow: hidden;
    margin-top: 4rem;
}

#nav-droite,
#nav-gauche {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    color: white;
    font-size: 3em;
}

#nav-droite {
    right: 20px;
    background-color: rgba(0, 0, 0, 0.7);
    border-radius: 12%;
}

#nav-gauche {
    left: 20px;
    background-color: rgba(0, 0, 0, 0.7);
    border-radius: 12%;
}

.elements {
    display: flex;
    transition: 1s linear;
}

.element {
    flex: 1 0 100%;
    position: relative;
}

.element>img {
    width: 100%;
}

.comwrap img {
    max-width: 6rem;
}

.comwrap {
    row-gap: 3rem;
    column-gap: 1rem;
}

.cspan {
    margin-top: .3rem;
}

@media screen and (min-width: 768px) {
    :root {
        font-size: 18px;
    }

    .proj {
        margin-top: 15%;
    }

    .comp {
        margin-left: 2rem;
    }

    .menub {
        right: 1rem;
    }

    #footer {
        font-size: 16px;
    }

    .wrapper img {
        max-width: 5rem;
    }

    .c4i,
    .c2i {
        margin-top: 2rem;
    }

    .c1c,
    .c3c,
    .c5c,
    .c7c,
    .c9c {
        margin-bottom: 0;
        margin-left: 7.6rem;
        margin-right: 0;
    }

    .c2c,
    .c4c,
    .c6c,
    .c8c,
    .c10c {
        margin-top: 0;
        margin-bottom: 3rem;
        margin-left: 4rem;
        margin-right: 0;
    }

    .c2c {
        grid-column: 1;
        grid-row: 2;
    }

    .c3c {
        grid-column: 2;
        grid-row: 1;
    }

    .c4c {
        grid-column: 2;
        grid-row: 2;
    }

    .c5c {
        grid-column: 1;
        grid-row: 3;
    }

    .c6c {
        grid-column: 1;
        grid-row: 4;
    }

    .c7c {
        grid-column: 2;
        grid-row: 3;
    }

    .c8c {
        grid-column: 2;
        grid-row: 4;
    }

    .c9c {
        grid-column: 1;
        grid-row: 5;
    }

    .c10c {
        grid-column: 1;
        grid-row: 6;
    }

    .comwrap>img {
        max-width: 16rem;
    }
}

@media screen and (min-width: 1280px) {

    footer {
        position: initial;
    }

    .case1,
    .case3,
    .case5,
    .case7,
    .case9 {
        margin-left: 15rem;
    }

    .case2,
    .case4,
    .case6,
    .case8,
    .case10 {
        margin-left: 12rem;
        margin-top: 1rem;
    }

    .parcours,
    .competences {
        display: inline;
        position: absolute;
        font-size: 24px;
        text-decoration: none;
    }

    .parcours {
        top: 40%;
        right: 20%;
    }

    .competences {
        top: 40%;
        right: 5%;
    }

    .menub {
        display: none;
    }

    .wrapper img {
        max-width: 6rem;
    }

    .c3i,
    .c1i {
        margin-right: 0;
        width: max-content;
    }

    .c2i {
        margin-left: -18rem;
        margin-top: 3.5rem;
        font-size: 20px;
        width: max-content;
    }

    .c4i {
        margin-left: -18rem;
        margin-top: 2rem;
        font-size: 20px;
        width: max-content;
    }

    .c2c {
        grid-column: 1;
        grid-row: 2;
    }

    .c3c {
        grid-column: 2;
        grid-row: 1;
    }

    .c4c {
        grid-column: 2;
        grid-row: 2;
    }

    .c5c {
        grid-column: 3;
        grid-row: 1;
    }

    .c6c {
        grid-column: 3;
        grid-row: 2;
    }

    .c7c {
        grid-column: 1;
        grid-row: 3;
    }

    .c8c {
        grid-column: 1;
        grid-row: 4;
    }

    .c9c {
        grid-column: 2;
        grid-row: 3;
    }

    .c10c {
        grid-column: 2;
        grid-row: 4;
    }

    .wrapper {
        row-gap: 5rem;
    }
}