@import "variable";
@import "mixin";

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    height: 100vh;
}

span {
    font-family: 'Yaldevi', sans-serif;
}

figcaption {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

h1 {
    font-family: 'Yaldevi', sans-serif;
    font-weight: 700;
}

header {
    position: sticky;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: grey;

    .logo {
        @include flexLogo;
        max-width: 6rem;
        margin: 8px;

        @media (min-width: 760px) {
            max-width: 8rem;
            margin: 2%;
        }

        @media (min-width: 1000px) {
            max-width: 10rem;
        }
    }

    .card_name {
        @include flexCenter;
        flex-direction: column;
        margin: 8px;
        padding: 6px;
        border: solid 2px white;
        border-radius: 6px;
        cursor: pointer;

        &:hover {
            transition: 1s;
            transform: scale(1.1);
        }

        @media (min-width: 760px) {
            margin: 2%;
        }

        .name {
            display: flex;
            color: white;
            font-size: 24px;
            font-family: Georgia, 'Times New Roman', Times, serif;

            @media (min-width: 760px) {
                font-size: 32px;
            }

            @media (min-width: 1000px) {
                font-size: 42px;
            }
        }
    }
}

main {
    max-width: 90%;
    margin: auto;

    .titre {
        text-align: center;
        margin-bottom: 1rem;
        margin-top: 2rem;
        text-decoration: underline black;

        @media (min-width: 760px) {
            font-size: 3rem;
        }

        @media (min-width: 1000px) {
            font-size: 3.5rem;
        }
    }

    .card_info {
        display: flex;
        margin: auto;
        max-width: 85%;
        padding: .2rem;
        margin-bottom: 3rem;

        @media (min-width: 1000px) {
            margin-top: 0;
            margin-bottom: 4rem;
        }


        .card_prez {
            display: flex;
            flex-direction: row;
            align-items: center;

            img {
                margin-right: 1rem;
                max-width: 4rem;

                @media (min-width: 760) {
                    max-width: 6rem;
                }
            }

            span {
                max-width: 70%;

                @media (min-width: 760px) {
                    max-width: 100%;
                    font-size: 26px;
                }

                @media (min-width: 1000px) {
                    font-size: 1.8rem;
                }
            }
        }

        .mail_card {
            display: flex;
            flex-direction: row;

            @media (min-width: 1000px) {
                display: none;
            }


            img {
                margin: .2rem;
                max-width: 4rem;

                @media (min-width: 760px) {
                    max-width: 7rem;
                }
            }

            span {
                display: flex;
                align-items: center;
                padding: .5rem;

                @media (min-width: 760px) {
                    font-size: 26px;
                }
            }
        }
    }

    .card_comp {
        display: flex;
        flex-direction: row;
        margin: auto;
        max-width: 85%;
        padding: .2rem;
        margin-bottom: 2.5rem;

        display: flex;
        overflow-x: auto;

        @media (min-width: 1000px) {
            margin-top: 0;
            margin-bottom: 4rem;
        }

        .card_dual {
            display: flex;
            flex-direction: column;
            justify-content: center;
            margin-left: 2rem;
            padding: .5rem;

            @media (min-width: 1000px) {
                &:hover {
                    transition: 1s;
                    transform: scale(1.05);
                    cursor: default;
                }
            }

            span {
                display: flex;
                align-items: center;
                font-size: 26px;

                @media (min-width: 1000px) {
                    font-size: 30px;
                }
            }

            img {
                display: flex;
                width: 4rem;
                margin-left: 50%;
                transform: translateX(-50%);

                @media (min-width: 1000px) {
                    max-width: 6rem;
                }
            }
        }

        .first_card_dual {
            margin-left: 0;
        }

    }

    .proj_cards {
        margin: 5%;
        margin-bottom: 2rem;

        @media (min-width: 1000px) {
            display: flex;
            flex-direction: row;

            .marg_proj {
                margin-left: 1.5rem;
            }
        }

        .project_card {
            display: flex;
            background-color: black;
            margin-bottom: 2rem;

            @media (min-width: 1000px) {
                &:hover {
                    transition: 1s;
                    transform: scale(1.05);
                }
            }

            figure {
                border: solid 4px #ff5d00;

                .car_card {
                    display: flex;
                    overflow-x: auto;
                }

                figcaption {
                    background-color: black;
                    color: white;
                    padding: 4px;

                    @media (min-width: 760px) {
                        font-size: 24px;
                        padding: 6px;
                    }
                }
            }
        }
    }
}

footer {
    background-color: black;

    @media (min-width: 1000px) {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .contact_card {
        padding: 5%;

        .contact {
            text-align: center;
            margin-bottom: 1rem;
            color: white;
        }

        .my_form {
            display: flex;
            flex-direction: column;

            .contact_mail {
                @media (min-width: 760px) {
                    font-size: 20px;
                }

                resize: none;
            }

            .mail {
                display: none;
            }

            .my_btn {
                margin-top: .5rem;
                font-size: large;
                padding: 5px;
                max-width: fit-content;
            }
        }
    }

    .my_info {
        padding: 5%;
        color: white;
        display: flex;
        flex-direction: column;

        @media (min-width: 1000px) {
            display: flex;
            max-width: 50%;
        }

        h1 {
            text-align: center;
            margin-bottom: 1rem;
        }

        .infos {
            border: solid 2px white;
            padding: 6px;

            @media (min-width: 760px) {
                font-size: 18px;
            }

            p {
                margin-bottom: 1rem;

                @media (min-width: 1000px) {
                    font-size: 22px;
                    margin-bottom: 1rem;
                }
            }

            a {
                img {
                    max-width: 3rem;

                    @media (min-width: 760px) {
                        max-width: 7rem;
                    }

                    @media (min-width: 1000px) {
                        max-width: 10rem;
                        margin: .2rem;
                    }
                }
            }
        }
    }
}